.site-layout .site-layout-background {
  background: #fff;
  border-radius: 3px;
  padding:20px
}
.pointer {
  cursor: pointer;
}
.icon {
  position: "fixed";
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 150px;
}
singer_avatar {
  height: 100px;
  width:100px
}
/* For demo */
.ant-carousel .slick-slide {
  text-align: center;
  height: 250px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}
.content {
  font-size: 40px;
    font-weight: normal;
    color: #fff;
    text-align: Center;
    padding: 200px 0 15px;
    text-transform: uppercase;
    font-family: 'Monoton', cursive;
}