.content {
    font-size: 40px;
      font-weight: normal;
      color: #fff;
      text-align: Center;
      padding: 200px 0 15px;
      text-transform: uppercase;
      font-family: 'Monoton', cursive;
  }

  .avatar-uploader > .ant-upload {
    width: 300px;
    height: 300px;
  }