  .login-form {
    width: 100%;
  }
  .login-form-forgot {
    float: right;
  }
  .ant-col-rtl .login-form-forgot {
    float: left;
  }
  .login-form-button {
    width: 100%;
  }
  .imageBackground{
    background: url("../../assets/banner.jpg") no-repeat;
    height: 100vh;
    width: 100%;
    padding: 10% 10% ;
  }

  .imageContent{
    background: url("../../assets/content.jpg") no-repeat;
    height: 600px;
    width: 100%;
  }
  h2.agileits1 {
    font-size: 40px;
    font-weight: normal;
    color: #fff;
    text-align: Center;
    padding: 200px 0 15px;
    text-transform: uppercase;
    font-family: 'Monoton', cursive;
  }
  p.agileits2 {
    font-size: 15px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
  }
  .content-w3ls .content-agile2 {
    width: 50%;
    float: left;
    padding: 25px 0 0;
  }
